.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  padding: 10px;
  text-align: center;
}
.grid-item {
  width: 300px;
  height:300px;
  font-size: 15px;
}
.grid-canvas {
  width: 150px;
  height:150px;
  font-size: 12px;
}